// tilde and backtick key
ZMK_BEHAVIOR(tilde_bkt, mod_morph,
    bindings = <&kp TILDE>, <&kp GRAVE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap dance for escape key: 1 for escape, 2 for home
ZMK_BEHAVIOR(esc_hom, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp ESC>, <&kp HOME>;
)

// tap dance for sqt key: 1 for sqt, 2 for end, hold for control
ZMK_BEHAVIOR(sqt_end, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&mt RCTRL SQT>, <&kp END>;
)

// tap dance for control key: 1 for sticky control, 2 for sticky shift control
ZMK_BEHAVIOR(st_ctr, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LCTRL>, <&sk LS(LCTRL)>;
)

// tap dance for shift keys: 1 for sticky shift, 2 for capsword
ZMK_BEHAVIOR(st_sft, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHIFT>, <&caps_word>;
)

// tap dance for num-sym layer: 1 for sticky, 2 for toggle
ZMK_BEHAVIOR(num_sym, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sl NUM_SYM>, <&tog NUM_SYM>;
)

// tap dance for f-nav layer: 1 for sticky, 2 for toggle
ZMK_BEHAVIOR(fnav, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sl F_NAV>, <&tog F_NAV>;
)

// hold tap with sticky layer on the tap (used for super key below)
ZMK_BEHAVIOR(sticky_tp, hold_tap,
    tapping-term-ms = <200>;
    bindings = <&kp>, <&sl>;
)

// tap dance for super key: 1 for sticky workspace layer, 2 for sticky super shift layer, 3 for sticky super control layer, and hold for super
ZMK_BEHAVIOR(stk_sup, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sticky_tp LGUI WRKSPC>, <&sl WRK_SFT>, <&sl WRK_CTR>;
)

// tap dance for alt key: 1 for underscore, 2 for sticky alt, 3 for toggle settings layer
ZMK_BEHAVIOR(und_alt, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LS(MINUS)>, <&sk LALT>, <&tog KB_SET>;
)

// Linux: tap dance for left 'sometimes' key: 1 for copy, 2 for cut
ZMK_BEHAVIOR(some_l, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LC(LS(C))>, <&kp LC(X)>;
)

// Linux: tap dance for right 'sometimes' key: 1 for paste, 2 for undo, 3 for toggle super control layer
ZMK_BEHAVIOR(some_r, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LC(LS(V))>, <&kp LC(Z)>, <&tog WRK_CTR>;
)

// macOS: tap dance for left 'sometimes' key: 1 for copy, 2 for cut
ZMK_BEHAVIOR(some_l_mac, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LG(C)>, <&kp LG(X)>;
)

// macOS: tap dance for right 'sometimes' key: 1 for paste, 2 for undo, 3 for toggle super control layer
ZMK_BEHAVIOR(some_r_mac, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp LG(V)>, <&kp LG(Z)>, <&tog WRK_CTR>;
)
